@tailwind base;
@tailwind components;
@tailwind utilities;

.wishr-btn{
background-color: #F65024;
padding: 10px 40px;
color:#fff;
font-weight: 600;
border-radius: 20px;
transition:all 0.3s ease-in-out;
}
.wishr-btn:hover{
    background-color: #03C0A8;
}
.wishr-btn-outline{
background-color: transparent;
padding: 10px 40px;
color:#F65024;
font-weight: 600;
border: 2px solid #F65024;
border-radius: 20px;
transition:all 0.3s ease-in-out;
}
.wishr-btn-outline:hover{
    background-color: #F65024;
    color:#fff;
}